body{
    font-family: sans-serif;
    box-sizing: border-box;
    background: url(imagens/bg-2.jpg) gainsboro no-repeat top scroll;
    background-size: 100% 40%;
}

.menu{
    list-style: none;
    text-align: right;
}

.menu li{
    margin: 5px;
    color: white;
    background-color: rgba(117, 114, 114,1);
    border: 2px solid white;
    display: inline-block;
    padding: 0;
    opacity: 85%;
    letter-spacing: 2px;
}

.menu a:link, a:visited{
    padding: 10px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.menu a:hover{
    color: black;
    background-color: aliceblue;
    opacity: 85%;
}

.principal{
    text-align: center;
    width:80%;
    margin: 50px auto 0;
    color: white;

    h1{
        text-shadow: 2px 2px 2px black;
        font-size: 60px;
        margin-bottom: 50px;
    }

    p{
        display: inline-block;
        padding : 12px;
        background-color: rgba(0,0,0,1);
        border-bottom: 2px solid white;
        opacity: 75%;
    }
    margin-bottom: 150px;
}

section{
    width: 80%;
    margin:16px auto 20px;
    min-width: 400px;
    max-width: 860px;
    background-color: white;
    padding: 10px;
    h2{
        margin-top: 10px;
        padding: 5px;
        background-color: rgb(209, 206, 206);
        border-bottom: 2px solid rgb(153, 152, 152);
    }

    footer{
        width: fit-content;
        padding: 10px;
        background-color: grey;
        border-radius: 4px;
    }
}

footer{
    margin:0px;
    padding: 40px;
    text-align: center;
    background-color: gray;
    opacity: 65%;
}
